<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BAC Calculator</title>
  <style>
    /* .login {
      float: right;
    }

    .register {
      
      float: right;
    } */
  </style>
</head>

<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link login" routerLink="login">Login</a>
      <a class="nav-item nav-link logout" routerLink="register">Register</a>
    </div>
  </nav>
  <div class="jumbotron">
    <h1 class="display-3">Blood Alcohol Content Calculator</h1>
    <p class="lead">Don't drink and drive!</p>
    <hr class="my-2">
    <p>Blood Alcohol Content, or BAC, refers to the percentage of alcohol in a person's bloodstream, and can be measured
      within 30-70 minutes after drinking. Contrary to popular belief, nothing can lower BAC except time- coffee, cold
      showers, and chugging glasses of water will not help you sober up any faster. Curious what your BAC might be? Use
      our calculator to estimate- but don't forget that everyone metabolizes alcohol (beer, wine, liquor) differently!
      Our calculator can give you an approximate BAC level, but do not rely upon it to determine if you're fit to drive
      or work.</p>
    <p>
      Go make an account and start calculating your BAC now!
    </p>
  </div>
</body>

</html>
<router-outlet></router-outlet>